<ion-header>
  <ion-navbar>
    <ion-title>{{athleteDetails.athleteID}}  •  Athlete Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<h4>Current Workout Progress:</h4>
        <ion-list>
          <ion-item text-wrap *ngFor="let set of athleteDetails.workout; let setIndex = index">
             <ng-container *ngFor="let setKey of objectKeys(set)">
                 <p>{{'Set ' + (setIndex+1) + ':'}}</p>
                                   <ng-container *ngFor="let repetitions of objectKeys(set[setKey]); let repIndex = index">
                                             <ng-container *ngIf="set[setKey][repIndex].rep === '0'">
                                                 <div class="unattempted">
                                                    <ng-container *ngIf="(repIndex+1) < 10">
                                                       {{repIndex+1}}
                                                    </ng-container>
                                                    <ng-container *ngIf="(repIndex+1) >= 10">
                                                       <div class="innerCircle">{{repIndex+1}}</div>
                                                    </ng-container>
                                                 </div>
                                             </ng-container>
                                             <ng-container *ngIf="set[setKey][repIndex].rep === '1'">
                                                 <div class="failed">
                                                    <ng-container *ngIf="(repIndex+1) < 10">
                                                       {{repIndex+1}}
                                                    </ng-container>
                                                    <ng-container *ngIf="(repIndex+1) >= 10">
                                                       <div class="innerCircle">{{repIndex+1}}</div>
                                                    </ng-container>
                                                 </div>
                                             </ng-container>
                                             <ng-container *ngIf="set[setKey][repIndex].rep === '2'">
                                                 <div class="completed">
                                                    <ng-container *ngIf="(repIndex+1) < 10">
                                                       {{repIndex+1}}
                                                    </ng-container>
                                                    <ng-container *ngIf="(repIndex+1) >= 10">
                                                       <div class="innerCircle">{{repIndex+1}}</div>
                                                    </ng-container>
                                                 </div>
                                             </ng-container>
                                      </ng-container>
             </ng-container>
          </ion-item>
        </ion-list>
        <ion-buttons>
           <button ion-button block color="danger" (click)="removeAthlete();">
             Remove {{athleteDetails.athleteID}} from the current workout
           </button>
        </ion-buttons>

<h4>Instructor Notes:</h4>
    <ion-list>

        <ion-item-sliding *ngFor="let note of this.noteObjects">

            <ion-item text-wrap>
                <b>Instructor: </b> {{note.username}}
                <br>
                <b>Date: {{note.notedate | slice:0:10}} </b>
                <br>
                {{note.note}}
            </ion-item>

            <ion-item-options>
                <button ion-button icon-only (click)="editNote(note)" light>
                    <ion-icon name="paper"></ion-icon>
                </button>
                <button ion-button icon-only (click)="deleteNote(note)" danger>
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>

    <ion-buttons>
        <button ion-button block color="secondary" (click)="addNote()">Add Note</button>
    </ion-buttons>

<ng-container *ngIf="this.athleteDetails.pastWorkouts.length != 0">
<h4>Athlete Past Workouts:</h4>
<ion-list>
    <button detail-none (click)="expandWorkout(workout)" ion-item text-wrap *ngFor="let workout of athleteDetails.pastWorkouts">
                   <h2>{{workout.workoutTitle}} • {{workout.date | slice:0:10 }}</h2>
                   <p><b>Instructor: </b> {{workout.instructorID}}</p>
                   <p><b>Sets: </b>{{workout.sets}} • <b>Reps: </b>{{workout.reps}}</p>
            <button ion-button clear item-end>View</button>
    </button>
    <br>
</ion-list>
</ng-container>

<!-- <ion-list>
 <ion-item>
 <ion-label floating>Username</ion-label>
 <ion-input type="text" name="username" [(ngModel)]="data.username"></ion-input>
 </ion-item>

 <button ion-button block (click)="submit()">Submit to server</button>
 </ion-list>

 <ion-card>
 <ion-card-header>
 Response
 </ion-card-header>

 <ion-card-content>
 <b>{{data.response}}</b>
 </ion-card-content>
 </ion-card>  -->

</ion-content>
