<ion-header>
  <ion-navbar>
    <ion-title>{{currentAthlete}} • {{workout.workoutTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<h4>Date: {{workout.date | slice:0:10}}</h4>
<h4>Instructor: {{workout.instructorID}}</h4>

<h4>{{workout.workoutTitle}} Results:</h4>
        <ion-list>
          <ion-item text-wrap *ngFor="let set of workout.workoutData; let setIndex = index">
             <ng-container *ngFor="let setKey of objectKeys(set)">
                 <p>{{'Set ' + (setIndex+1) + ':'}}</p>
                                   <ng-container *ngFor="let repetitions of objectKeys(set[setKey]); let repIndex = index">
                                             <ng-container *ngIf="set[setKey][repIndex].rep === '0'">
                                                 <div class="unattempted">
                                                    <ng-container *ngIf="(repIndex+1) < 10">
                                                       {{repIndex+1}}
                                                    </ng-container>
                                                    <ng-container *ngIf="(repIndex+1) >= 10">
                                                       <div class="innerCircle">{{repIndex+1}}</div>
                                                    </ng-container>
                                                 </div>
                                             </ng-container>
                                             <ng-container *ngIf="set[setKey][repIndex].rep === '1'">
                                                 <div class="failed">
                                                    <ng-container *ngIf="(repIndex+1) < 10">
                                                       {{repIndex+1}}
                                                    </ng-container>
                                                    <ng-container *ngIf="(repIndex+1) >= 10">
                                                       <div class="innerCircle">{{repIndex+1}}</div>
                                                    </ng-container>
                                                 </div>
                                             </ng-container>
                                             <ng-container *ngIf="set[setKey][repIndex].rep === '2'">
                                                 <div class="completed">
                                                    <ng-container *ngIf="(repIndex+1) < 10">
                                                       {{repIndex+1}}
                                                    </ng-container>
                                                    <ng-container *ngIf="(repIndex+1) >= 10">
                                                       <div class="innerCircle">{{repIndex+1}}</div>
                                                    </ng-container>
                                                 </div>
                                             </ng-container>
                                      </ng-container>
             </ng-container>
          </ion-item>
        </ion-list>

<h4>Instructor Notes:</h4>
    <ion-list>

        <ion-item-sliding *ngFor="let note of this.noteObjects">

            <ion-item text-wrap>
                <b>Instructor: </b> {{note.username}}
                <br>
                <b>Date: {{note.notedate | slice:0:10}} </b>
                <br>
                {{note.note}}
            </ion-item>

            <ion-item-options>
                <button ion-button icon-only (click)="editNote(note)" light>
                    <ion-icon name="paper"></ion-icon>
                </button>
                <button ion-button icon-only (click)="deleteNote(note)" danger>
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>

    <ion-buttons>
        <button ion-button block color="secondary" (click)="addNote()">Add Note</button>
    </ion-buttons>

</ion-content>
